.selectedClaimRowDPT {
  background-color: #B5EACC !important;
}

.selectedClaimRowFCE {
  background-color: #D5B5EA !important;
}

.regularRowFCE {
  background-color: #D8BFD8 !important;
}

.doNotUse {
  background-color: #FC3F53 !important;
}