.selectedClaimRowDPT {
  background-color: #B5EACC !important;
}

.selectedClaimRowFCE {
  background-color: #D5B5EA !important;
}

.regularRowFCE {
  background-color: #D8BFD8 !important;
}

.doNotUse {
  background-color: #FC3F53 !important;
}

.clickedRow {
  background-color: #22C5E6 !important;
}

.alternateColorA {
  background-color: #F0F0F0 !important;
}

.alternateColorB {
  background-color: #FFFFFF !important;
}