.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .MuiInputBase-input  {
  background: #E67E22;
}

.MuiTextField-root {
  background: #E67E22;
} */

.claimNumber-button {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
}

.blink1 {
  /* border: 0; */
  background-color: none;
}

.blink2 {
  /* border: 1px solid black; */
  background-color: #EAEDED;
}

.tester {
    border: 1px solid green;
}

label {
    display: block;
    text-align: left;
    font-size: .65em;
}

input {
    display: block;
    align-items: left;
}

.redBorder {
    border-color: red;
}

#dos {
    width: 14ch;
}

#pos {
    width: 4ch;
}

#cpt {
    width: 8ch;
}

#mod1 {
    width: 3ch;
}

#mod2 {
    width: 3ch;
}

#mod3 {
    width: 3ch;
}

#mod4 {
    width: 3ch;
}

#diag {
    width: 6ch;
}

#charges {
    width: 6ch;
}

#units {
    width: 4ch;
}

#provider_npi {
    width: 11ch;
}

#rank {
    width: 2ch;
}

.smalltext {
    font-size: 8px;
}

.container {
    padding-left: 1ch;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.calendarEvent {
  padding: 25;
}

/* .addRowButton {
    vertical-align: middle;
} */